#happy > span {
    animation: glow-off 5s ease-in-out infinite;
    color: black;
}

#birthday > span {
    animation: glow-off 5s ease-in-out infinite;
    color: black;
}

#happy > span:nth-child(2) {
    animation-delay: .2s;
}
#happy > span:nth-child(3) {
    animation-delay: .4s;
}
#happy > span:nth-child(4) {
    animation-delay: .6s;
}
#happy > span:nth-child(5) {
    animation-delay: .8s;
}

#birthday > span:nth-child(1) {
    animation-delay: 1s;
}
#birthday > span:nth-child(2) {
    animation-delay: 1.2s;
}
#birthday > span:nth-child(3) {
    animation-delay: 1.4s;
}
#birthday > span:nth-child(4) {
    animation-delay: 1.6s;
}
#birthday > span:nth-child(5) {
    animation-delay: 1.8s;
}
#birthday > span:nth-child(6) {
    animation-delay: 1.9s;
}
#birthday > span:nth-child(7) {
    animation-delay: 2s;
}
#birthday > span:nth-child(8) {
    animation-delay: 2.1s;
}

@keyframes glow-off {
    0%, 100% {
        color: #ffb7c3;
        text-shadow: 0 0 10px pink, 0 0 50px pink, 0 0 100px pink;
    }
    10%, 90% {
        color: black;
        text-shadow: none;
    }
}

body.turn {
    background-color: pink;
}

#turn.active {
    border: 1px solid #ff4c6a;
    color: #ff4c6a;
}

#turn.active:hover {
    background-color: #ff4c6a;
    color: white;
}

#teks > span {
    position: absolute;
    opacity: 0;
    animation: teks 5s ease-in-out 1;
}

#teks > span:nth-child(1) {
    animation-delay: 2s;
}
#teks > span:nth-child(2) {
    animation-delay: 7s;
}
#teks > span:nth-child(3) {
    animation-delay: 12s;
}
#teks > span:nth-child(4) {
    animation-delay: 17s;
}
#teks > span:nth-child(5) {
    animation-delay: 22s;
}
#teks > span:nth-child(6) {
    animation-delay: 27s;
}
#teks > span:nth-child(7) {
    animation-delay: 32s;
}

@keyframes teks {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10%, 90% {
        opacity: 100%;transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

#card > span:nth-child(1) {
    animation: happy 2s ease-in-out 1;
}
#card > span:nth-child(2) {
    animation: birthday 2s ease-in-out 1;
}

@keyframes happy {
    0% {
        opacity: 0;
        transform: rotate(-45deg);
        transform-origin: top left;
    }
    30% {
        opacity: 50%;
    }
    40%, 100% {
        opacity: 100%;
        transform: rotate(0);
    }
}
@keyframes birthday {
    0% {
        opacity: 0;
        transform: rotate(-45deg);
        transform-origin: top right;
    }
    30% {
        opacity: 50%;
    }
    40%, 100% {
        opacity: 100%;
        transform: rotate(0);
    }
}